<br>
<div class=" justify-content-center cuerpo">
    <mat-card>
        <mat-card-content>
            <div class="d-flex flex-column">
                <div class="p-2">
                    <h2>
                        ANA CODE & IVAN CODE
                    </h2>
                </div>
                <div class="p-2">
                    <h5 class="textoCuadro">{{ 'principal.texto' | translate }}</h5>
                </div>
                <div class="p-2">
                    <h5 class="textoCuadro">{{ 'principal2.texto' | translate }}</h5>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <!-- ========================================================================================================================= -->
    <div>
        <app-menu></app-menu>
    </div>
    <br>
    <!-- ========================================================================================================================= -->

    <!-- NOTA: CREAR ESTA PARTE EN UN COMPONENTE Y AGREGAR PARA EL CONTACTO MAS LOGICA PARA QUE TRABAJE -->

    <!-- ========================================================================================================================= -->



<!-- <div>
    <app-contactame></app-contactame>
</div> -->




    <!-- <mat-card class="example-card">
        <mat-card-content>
            <div>
                <h2>{{ 'principal3a.texto' | translate }}</h2>
            </div>
            <br>
            <div class="row" bis_skin_checked="1">
                <div class="col-md-12 color" bis_skin_checked="1">
                    <div class="col-md-4 m-1" bis_skin_checked="1">
                        <form role="form">
                            <div class="form-group" bis_skin_checked="1">

                                <label for="exampleInputEmail1">
                                    Email address
                                </label>
                                <input type="email" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group" bis_skin_checked="1">

                                <label for="exampleInputPassword1">
                                    Password
                                </label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-group" bis_skin_checked="1">

                                <label for="exampleInputFile">
                                    File input
                                </label>
                                <input type="file" class="form-control-file" id="exampleInputFile">
                                <p class="help-block">
                                    Example block-level help text here.
                                </p>
                            </div>
                            <div class="checkbox" bis_skin_checked="1">

                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        </mat-card-content>
    </mat-card> -->

</div>
<br>
<br>