.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
 /* background: inherit; */
  background-color: brown;
}

.mat-toolbar.mat-primary {
  background-color: brown;
  position: sticky;
  top: 0;
  z-index: 3;
}

.textColor1{
  color: white;
}

/* p {
  font-family: Lato;
} */

.flexExpand {
  flex: 1 1 auto;
}

.flexSpaceBetween {
  justify-content: space-between;
}