<mat-card class="example-card">
    <mat-card-content>

        <div>
            <h2>{{ 'principal3.texto' | translate }}</h2>
        </div>
        <br>
        <div class="row alturaCar" bis_skin_checked="1">

            <div class="col-md-6" bis_skin_checked="1" *ngIf="!consolaActiva">
                <div class="card" bis_skin_checked="1">
                    <img class="img-fluid" alt="Responsive image" src="../../../assets/panel1.png">

                    <div class="card-block textColorCar" bis_skin_checked="1">
                        <br>
                        <h5 class="card-title">{{ 'principal4.texto' | translate }}</h5>
                        <div style="margin: 2px;">
                            <p class="card-text">{{ 'principal5.texto' | translate }}</p>
                            <p class="card-text">{{ 'principal6.texto' | translate }}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" routerLink="/cliente">{{ 'boton-cliente' | translate }}</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-6" bis_skin_checked="1" *ngIf="!consolaActiva">
                <div class="card" bis_skin_checked="1">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Second"
                        src="../../../assets/CODE JSON CONSOLA.png">
                    <div class="card-block textColorCar" bis_skin_checked="1">
                        <br>
                        <h5 class="card-title">{{ 'principal7.texto' | translate }}</h5>
                        <div style="margin: 2px;">
                            <p class="card-text">{{ 'principal8.texto' | translate }}</p>
                            <p class="card-text">{{ 'principal9.texto' | translate }}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" routerLink="/code">Code Panel</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4" bis_skin_checked="1" *ngIf="consolaActiva">
                <div class="card" bis_skin_checked="1">
                    <img class="img-fluid" alt="Responsive image" src="../../../assets/panel1.png">

                    <div class="card-block textColorCar" bis_skin_checked="1">
                        <br>
                        <h5 class="card-title">{{ 'principal4.texto' | translate }}</h5>
                        <div style="margin: 2px;">
                            <p class="card-text">{{ 'principal5.texto' | translate }}</p>
                            <p class="card-text">{{ 'principal6.texto' | translate }}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" routerLink="/cliente">{{ 'boton-cliente' | translate }}</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4" bis_skin_checked="1" *ngIf="consolaActiva">
                <div class="card" bis_skin_checked="1">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Second"
                        src="../../../assets/CODE JSON CONSOLA.png">
                    <div class="card-block textColorCar" bis_skin_checked="1">
                        <br>
                        <h5 class="card-title">{{ 'principal7.texto' | translate }}</h5>
                        <div style="margin: 2px;">
                            <p class="card-text">{{ 'principal8.texto' | translate }}</p>
                            <p class="card-text">{{ 'principal9.texto' | translate }}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" routerLink="/code">Code Panel</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-4" bis_skin_checked="1" *ngIf="consolaActiva">
                <div class="card" bis_skin_checked="1">
                    <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="../../../assets/consola.png">
                    <div class="card-block textColorCar" bis_skin_checked="1">
                        <br>
                        <h5 class="card-title"> {{ 'principal10.texto' | translate }}</h5>
                        <div style="margin: 2px;">
                            <p class="card-text">{{ 'principal11.texto' | translate }}</p>
                            <p class="card-text">{{ 'principal12.texto' | translate }}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary" href="#">Action</a>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>



<!-- <mat-card class="example-card">
    <mat-card-content>
        <div><h2>{{ 'principal3.texto' | translate }}</h2></div>
        <br>
    </mat-card-content>
</mat-card> -->